# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/AsposePdfBuilderExamples/.vs/AsposePdfBuilderExamples/v14/.suo
/AsposePdfBuilderExamples/bin/Debug/Aspose.Pdf.dll
/AsposePdfBuilderExamples/bin/Debug/AsposePdfBuilder.dll
/AsposePdfBuilderExamples/bin/Debug/AsposePdfBuilderExamples.dll
/AsposePdfBuilderExamples/bin/Debug/AsposePdfBuilderExamples.pdb
/AsposePdfBuilderExamples/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
/AsposePdfBuilderExamples/obj/Debug/AsposePdfBuilderExamples.csproj.FileListAbsolute.txt
/AsposePdfBuilderExamples/obj/Debug/AsposePdfBuilderExamples.csprojResolveAssemblyReference.cache
/AsposePdfBuilderExamples/obj/Debug/AsposePdfBuilderExamples.dll
/AsposePdfBuilderExamples/obj/Debug/AsposePdfBuilderExamples.pdb
/AsposePdfBuilderExamples/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/AsposePdfBuilder/AsposePdfBuilder.v11.suo
/AsposePdfBuilder/bin/Debug/Aspose.Pdf.dll
/AsposePdfBuilder/bin/Debug/AsposePdfBuilder.dll
/AsposePdfBuilder/bin/Debug/AsposePdfBuilder.pdb
/AsposePdfBuilder/obj/Debug/AsposePdfBuilder.Properties.Resources.resources
/AsposePdfBuilder/obj/Debug/AsposePdfBuilder.csproj.FileListAbsolute.txt
/AsposePdfBuilder/obj/Debug/AsposePdfBuilder.csproj.GenerateResource.Cache
/AsposePdfBuilder/obj/Debug/AsposePdfBuilder.csprojResolveAssemblyReference.cache
/AsposePdfBuilder/obj/Debug/AsposePdfBuilder.dll
/AsposePdfBuilder/obj/Debug/AsposePdfBuilder.pdb
/AsposePdfBuilder/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/AsposePdfBuilder/packages/Aspose.Pdf.11.1.1/Aspose.Pdf.11.1.1.nupkg
/AsposePdfBuilder/packages/Aspose.Pdf.11.1.1/Aspose.Pdf.11.1.1.nuspec
/AsposePdfBuilder/packages/Aspose.Pdf.11.1.1/lib/net2.0/Aspose.Pdf.dll
/AsposePdfBuilder/packages/Aspose.Pdf.11.1.1/lib/net40-client/Aspose.Pdf.dll
/AsposePdfBuilderExamples/bin/Debug/AsposePdfBuilder.pdb
/AsposePdfBuilderExamples/packages/Aspose.Pdf.11.1.1/Aspose.Pdf.11.1.1.nupkg
/AsposePdfBuilderExamples/packages/Aspose.Pdf.11.1.1/Aspose.Pdf.11.1.1.nuspec
/AsposePdfBuilderExamples/packages/Aspose.Pdf.11.1.1/lib/net2.0/Aspose.Pdf.dll
/AsposePdfBuilderExamples/packages/Aspose.Pdf.11.1.1/lib/net40-client/Aspose.Pdf.dll
