# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/AsposePdfBuilderExamples/.vs/AsposePdfBuilderExamples/v14/.suo
/AsposePdfBuilderExamples/bin/Debug/Aspose.Pdf.dll
/AsposePdfBuilderExamples/bin/Debug/AsposePdfBuilder.dll
/AsposePdfBuilderExamples/bin/Debug/AsposePdfBuilderExamples.dll
/AsposePdfBuilderExamples/bin/Debug/AsposePdfBuilderExamples.pdb
/AsposePdfBuilderExamples/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
/AsposePdfBuilderExamples/obj/Debug/AsposePdfBuilderExamples.csproj.FileListAbsolute.txt
/AsposePdfBuilderExamples/obj/Debug/AsposePdfBuilderExamples.csprojResolveAssemblyReference.cache
/AsposePdfBuilderExamples/obj/Debug/AsposePdfBuilderExamples.dll
/AsposePdfBuilderExamples/obj/Debug/AsposePdfBuilderExamples.pdb
/AsposePdfBuilderExamples/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
